.form{
    &__group{
        margin-bottom: 3rem;
    }
    &__input{
        width: 90%;
        background-color: $color-white;
        padding: 1rem 2rem;
        font-size: 2rem;
    }
    &__label{
        opacity: 0;
    }
}